* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ececfc;
}

.container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1140px;
    justify-content: center;
}

.scroll-button {
    display: none;
    height: 50px;
    width: 50px;
    background-color: #1e1e27;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.scroll-button span {
    transform: rotate(-90deg);
}

header {
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 5px solid #9b9cff;;
    background-color: #1e1e27;
}

header .logo-animation {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100px;    
}

header .logo-animation img {
    position: absolute;
    cursor: pointer;
}

header .logo-animation .img_parte1 {
    max-width: 80px;
}

header .logo-animation .img_parte2 {
    margin-top: -20px;
    max-width: 70px;
    transition: all 0.5s linear;    
}

header .logo-animation:hover .img_parte2 {
    margin-top: -30px;
}

header .logo-animation .img_parte3 {
    max-width: 80px;

}

header .logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

header .logo-title h1,
header .logo-title h2 {
    color: #f9f9f9;
}

header .logo-title h1 {
    font-size: 30px;
    
}

header .logo-title h2 {
    font-size: 15px;
}

.scroll-page h1 {
    font-size: 42px;
    margin-bottom: 20px;

}


.scroll-page .banners{
    width: 1100px;
    height: 400px;
    display: flex;
    overflow: hidden;
    margin: auto;
}

.scroll-page .banners .sliders{
    width: 3300px;
    height: 400px;
    display: inline-flex;
    transition: all 0.5s linear; 
    margin-left: 0px;
}   


.scroll-page .banners .slide {
    width: 1100px;
    height: 400px;
    background-position: center;
    background-size: cover;
}

.scroll-page .dotSliders {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 30px;
    margin: auto;
}

.scroll-page .dotSliders .dot {
    width: 20px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;

}

.scroll-page .dotSliders .dot.active {
    background-color: rgb(59, 59, 59);
}



.scroll-page h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.scroll-page p {
    text-align: justify;
}

.scroll-page .img_item_center {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    margin: 20px 0;
}
