main .container .curso .curso-body {
    display: flex;
    flex-direction: column;
}

main .container .curso .template-modulo {
    display: flex;
    margin-bottom: 5px;
}

main .container .curso .template-modulo .modulo {
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    width: 200px;
}

main .container .curso .template-modulo .exercicios {
    background-color: blue;

}

main .container .curso .exercicios .exercicios-template {
    display: flex;
    align-items: center;
    padding: 10px
}